.additional-products {
  position: relative;
}

.additional-products__section {
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding-bottom: 80px;
    width: 708px;
    margin: 0 auto;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: #68b738;
      position: absolute;
      top: 14px;
      right: 0;
      left: 0;
      z-index: -2;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding: 0 60px 25px;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: #68b738;
      position: absolute;
      top: 16px;
      right: 0;
      left: 0;
    }
  }
}


.additional-products__subtitle {
  color: #000000;
  margin: 0;
  padding: 25px 0 35px 20px;
  border-bottom: 1px solid #ebebeb;
  position: relative;


  @media (min-width: $tablet-width) {
    display: inline-block;
    min-width: 301px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0 40px 80px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    min-width: 301px;
    margin: 0 auto;
    margin-left: -40px;
    padding: 0 40px 80px;
  }
}

.additional-products__block {
  @media (min-width: $tablet-width) {

    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {

    justify-content: space-between;
    flex-direction: row;
  }
}

.additional-products__list {
  list-style: none;
  padding: 13px 20px 22px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
  }
}

.additional-products__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 25px 37px 27px;
    border: 1px solid #ebebeb;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  @media (min-width: $desktop-width) {
    border-left: none;
    border-right: none;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.additional-products__item-subtitle {
  color: $special_dark-grey-2;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 25px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 161px;
    padding-right: 164px;
  }
}

.additional-products__item-desc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin: 0;
    justify-content: end;
  }


  @media (min-width: $desktop-width) {
    justify-content: space-between;
    margin: 0;
    width: 285px;
    padding-right: 40px;
  }
}

.additional-products__item-desc-text {
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-top: 3px;
    margin-right: 3px;
  }
}

.additional-products__text-centering {
  @media (min-width: $tablet-width) {
    margin-left: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 10px;
  }
}

.additional-products__text-right {
  @media (min-width: $tablet-width) {
    margin-left: 48px;
  }
}

.additional-products__item-button {
  color: #ffffff;
  text-transform: uppercase;
  background-color: $basic_green;
  border: 1px solid $basic_green;
  padding: 9px 109px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }

  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    padding: 9px 284px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 91px;
    height: 40px;
  }
}

.additional-products__gift {
  margin: 0 20px;
  width: 280px;
  min-height: 290px;
  background-image: url("../../images/promo_background_mobile@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  &::before {
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../../icons/icon_gift.svg");
    display: inline-block;
    position: absolute;
    top: 59px;
    left: 101px;

    @media (min-width: $tablet-width) {
      top: 57px;
      left: 77px;
    }

    @media (min-width: $desktop-width) {
      top: 56px;
      left: 83px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 707px;
    min-height: 200px;
    background-image: url("../../images/promo_background_tablet@2x.png");
    background-size: cover;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 288px;
    background-image: url("../../images/promo_background_desktop@2x.png");
    background-size: contain;
  }
}

.additional-products__gift-text {
  color: #ffffff;
  margin: 0;
  width: 161px;
  text-align: center;
  padding: 187px 61px 43px 58px;

  @media (min-width: $tablet-width) {
    padding: 71px 125px 69px 421px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 185px 42px 0;
    text-align: center;
  }
}
