.card__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0;
    gap: 65px 80px;
  }
}

.card__item {
  padding: 20px 20px 27px;
  display: grid;
  grid-template-columns: 140px auto;
  grid-template-rows: auto auto;
  border-bottom: 1px solid #ebebeb;
  row-gap: 14px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 324px;
    padding: 0 37px 40px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    border: none;
    background-image: linear-gradient(#ffffff 16%, #f2f2f2 16% 84%);
    row-gap: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 0 38px 40px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 0;
  }
}

.card__caption {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;


  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.card__caption-text {
  color: $special_dark-grey;

  &:nth-child(1),
  &:nth-child(2) {
    @media (min-width: $desktop-width) {
      padding-bottom: 5px;
    }
  }

  &:nth-child(3),
  &:nth-child(4) {
    @media (min-width: $desktop-width) {
      padding-top: 4px;
      padding-bottom: 8px;
    }
  }

  &:nth-child(5),
  &:nth-child(6) {
    @media (min-width: $desktop-width) {
      padding-top: 3px;
      padding-bottom: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 0;
    padding-bottom: 4px;
  }
}


.card__button {
  color: #ffffff;
  text-transform: uppercase;
  background-color: $basic_green;
  border: none;
  min-height: 40px;
  width: 280px;
  grid-row: 2 / 3;
  grid-column: 1 / 3;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }

  @media (min-width: $tablet-width) {
    grid-area: 3 / 1;
    width: 250px;
    min-height: 40px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    min-height: 40px;
    padding: 0;
  }
}

.card__description {
  @media (min-width: $tablet-width) {
    grid-area: 2 / 1;
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    margin-bottom: 32px;
  }
}

.card__description-subtitle {
  display: flex;
  margin: 0;
  margin-bottom: 14px;
  color: $special_dark-grey-2;
  width: 76px;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 135px;
    margin: 0 auto 18px;
    padding-top: 0;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 25px;
    padding-top: 0;
  }
}

.card__side-text {
  text-align: right;
}

.card__link-picture {
  width: 140px;
  height: 107px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
    place-self: start center;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 210px;
    padding-top: 10px;
    padding-bottom: 13px;
  }
}

.card__picture {
  place-self: center center;

  @media (min-width: $tablet-width) {
    grid-area: 1 / 1;
    height: 210px;
    place-self: start center;
  }

  @media (min-width: $desktop-width) {
    height: 210px;
  }
}
