.cooperation {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
  background-color: #f2f2f2;
}

.cooperation__subtitle {
  min-width: 140px;
  min-height: 60px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
}

.cooperation__address {
  min-width: 140px;
  min-height: 60px;
}

.cooperation__address-link {
  text-decoration: none;
  font-style: normal;
  color: $special_dark-grey;
}

@media (min-width: $tablet-width) {
  .secondary-subtitle-normal {
    font-size: 20px;
    line-height: 26px;
  }

  .explaining-text-normal {
    font-size: 16px;
    line-height: 20px;
  }

  .main-container__cooperation {
    height: 80px;
  }

  .cooperation {
    padding: 60px 70px;
    justify-content: space-between;
  }

  .cooperation__subtitle {
    text-align: left;
    width: 163px;
    min-height: 78px;
  }

  .cooperation__address {
    text-align: right;
    width: 157px;
    min-height: 80px;
  }

  .cooperation__address-link-text {
    line-height: 3.5;
  }
}

@media (min-width: $desktop-width) {
  .cooperation {
    margin: 0 auto;
    padding: 60px 78px 60px 80px;
    width: 407px;
    height: 79px;
    align-items: center;
    position: absolute;
    background-color: #ffffff;
    top: 2415px;
    left: 110px;
  }

  .cooperation__address {
    text-align: left;
    width: 157px;
    min-height: 79px;
  }
}

