.preview-content {
  width: 320px;
  height: 302px;
  background-image: url("../../images/index_background_desktop_green@2x.jpg");
  background-color: $basic_green;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: contain;
}

.preview-title {
  color: #ffffff;
}

.preview-text {
  color: #ffffff;
  text-transform: uppercase;
}

.preview-button {
  text-transform: uppercase;
  color: #ffffff;
  background-color: $basic_green;
}
