.preview {
  min-height: 480px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.preview__content {
  min-width: 320px;
  min-height: 302px;
  background-image: url("../../images/hero-background-mobile@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 138px;
}

.preview__title {
  color: #ffffff;
  margin: 0;
  padding: 27px 35px 25px;
  text-align: center;
}

.preview__text {
  display: flex;
  justify-content: center;
  padding: 0 42px 29px 40px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.preview__image {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preview__button {
  text-transform: uppercase;
  color: #ffffff;
  background-color: $basic_green;
  border: 1px solid $basic_green;
  min-width: 280px;
  height: 40px;
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .text-main-button {
    font-size: 20px;
    line-height: 26px;
  }

  .title-text {
    font-size: 60px;
    line-height: 60px;
  }

  .title-text-small {
    font-size: 20px;
    line-height: 20px;
  }

  .preview {
    display: block;
    min-height: 875px;
  }

  .preview__content {
    background-image: none;
    margin: 0;
  }

  .preview__button {
    min-width: 224px;
    height: 54px;
    padding: 14px 26px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: $basic_green;
    border: 1px solid $basic_green;
    margin: 0;
    position: absolute;
    top: 295px;
    left: 120px;
    z-index: 1;
  }

  .preview__image {
    position: absolute;
    top: 65%;
    padding: 0;
    z-index: -1;
  }

  .preview__title {
    color: #000000;
    padding: 65px 0 0 120px;
    width: 416px;
    text-align: left;
  }

  .preview__text {
    color: #000000;
    display: inline-block;
    padding: 40px 0 0 120px;
  }
}

@media (min-width: $desktop-width) {
  .preview {
    width: 1200;
    margin: 0 auto;
    min-height: 550px;
  }

  .preview__content {
    position: relative;
    padding: 120px 0 368px 80px;
    min-height: 180px;

    &::after {
      content: "";
      display: inline-block;
      width: 720px;
      height: 694px;
      background-image: url("../../images/hero-background-desktop@2x.jpg");
      position: absolute;
      top: -16%;
      right: -9%;
      z-index: -1;
    }
  }

  .preview__image {
    top: 43%;
    left: 59%;
  }

  .preview__title {
    padding: 0;
    padding-bottom: 40px;
  }

  .preview__text {
    padding: 0;
  }

  .preview__button {
    position: absolute;
    top: 350px;
    left: 80px;
  }
}
