.main-container__properties {
  margin: 0;
}

.properties-weight-gain {
  background-color: #f2f2f2;
}

.properties-weight-gain-subtitle {
  text-transform: uppercase;
}

.properties-weight-gain-link {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.properties-weight-gain-text {
  color: $special_dark-grey;
}

.properties-weight-loss {
  background-color: #f2f2f2;
}

.properties-weight-loss-subtitle {
  text-transform: uppercase;
}

.properties-weight-loss-link {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.properties-weight-loss-text {
  color: $special_dark-grey;
}

.properties-weight-loss-head {
  background-image: url("../../icons/cat_loss.svg");
}

.properties-weight-gain-head {
  background-image: url("../../icons/cat_weight.svg");
}
