.catalog {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-bottom: 74px;
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding-bottom: 70px;
  }
}

.catalog__title {
  color: #000000;
  margin: 0;
  padding: 27px 20px 40px;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    padding: 65px 0 84px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 0 84px;
    border-bottom: none;
  }
}

.card__caption-text {
  color: $special_dark-grey;
}
