.subtitle-text-big {
  color: #000000;
}

.useful-substances-text-color {
  color: $special_dark-grey;
}

.advantages-useful-substances-image {
  width: 60px;
  height: 60px;
  background-image: url("../../icons/useful_substances.svg");
}

.advantages-quick-cooking-image {
  width: 60px;
  height: 60px;
  background-image: url("../../icons/quick_cooking.svg");
}

.advantages-functional-nutrition-image {
  width: 60px;
  height: 60px;
  background-image: url("../../icons/functional_nutrition.svg");
}

.advantages-time-change-image {
  width: 60px;
  height: 60px;
  background-image: url("../../icons/time-change.svg");
}
