.show-more {
  padding: 25px 20px 24px;
  border-bottom: 1px solid #ebebeb;


  &::before {
    content: "";
    min-width: 30px;
    min-height: 30px;
    background-image: url("../../icons/show_more.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-left: 125px;
    margin-bottom: 23px;
  }
}

.show-more__headline-subtitle {
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  margin-left: 38px;
  margin-bottom: 8px;
}

.show-more__headline-text {
  color: $special_dark-grey;
  margin-left: 30px;
}

.show-more__headline-button {
  color: $special_dark-grey;
  text-transform: uppercase;
  margin-top: 21px;
  width: 280px;
  height: 40px;
  padding: 0;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
}
