.main-container__example {
  background-color: #eaeaea;
}

.example {
  padding: 25px 20px 37px;

  @media (min-width: $tablet-width) {
    padding-bottom: 101px;
  }
}

.example__subtitle {
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin: 20px 10px 60px;
  }
}

.example__relationship-subtitle {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  min-width: 124px;
  min-height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__text {
  color: $special_dark-grey;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-left: 10px;
    margin-bottom: 55px;
  }
}

.example__relationship {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  position: relative;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-left: 10px;
    justify-content: start;
    gap: 43;
  }
}

.example__relationship-text {
  color: $special_dark-grey;
}

.relationship-subtitle-left {
  @media (min-width: $tablet-width) {
    min-width: 162px;
    min-height: 72px;
    padding: 15px 56px 20px;
  }
}

.relationship-subtitle-right {
  @media (min-width: $tablet-width) {
    min-width: 162px;
    min-height: 72px;
    padding: 15px 29px 20px;
  }
}

.relationship-text-left {
  width: 77px;
  min-height: 24px;
  position: absolute;
  top: 46px;
  left: 22px;
  background-color: #eaeaea;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 114px;
    min-height: 30px;
    top: 55px;
    left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.relationship-text-right {
  width: 87px;
  min-height: 31px;
  position: absolute;
  top: 48px;
  left: 174px;
  background-color: #eaeaea;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 142px;
    min-height: 27px;
    top: 58px;
    left: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.example__expenses-subtitle {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 174px;
    text-align: right;
    margin-right: 12px;
    margin-top: 5px;
    line-height: 1.5;
  }
}

.example__slider {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #666666;
    border-radius: 2px;
    z-index: 1;
    height: 256px;
    width: 4px;
  }

  &:has(.example-button:hover)::before {
    background-color: #008000;
  }
}

.example__slider-image {
  overflow: hidden;
}

.example__image {
  position: relative;

  &--leftShift {
    right: 100%;
  }
}

.example__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid #666666;
  z-index: 2;

  &::after {
    content: "";
    background-color: #666666;
    mask-image: url("../../icons/double-triangle-arrow.svg");
    mask-size: 24px 18px;
    mask-repeat: no-repeat;
    mask-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    height: 18px;
    width: 24px;
  }

  &:hover {
    border-color: #008000;

    &::after {
      background-color: #008000;
    }
  }
}


@media (min-width: $tablet-width) {
  .example__relationship-block {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 68px;
  }

  .example__relationship-text {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  .example__relationship-subtitle {
    font-size: 30px;
    line-height: 37px;
  }

  .example__expenses-subtitle {
    font-size: 20px;
  }

  .main-container__example {
    background-image: linear-gradient(#ffffff 57%, #eaeaea 43%);
  }

  .example__slider {
    width: 560px;
    height: 512px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #666666;
      border-radius: 2px;
      z-index: 1;
      height: 512px;
      width: 4px;
    }

    &:has(.example-button:hover)::before {
      background-color: #008000;
    }
  }

  .example__slider-image {
    overflow: hidden;
  }

  .example__image {
    position: relative;

    &--leftShift {
      right: 100%;
    }
  }

  .example__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid #666666;
    z-index: 2;

    &::after {
      content: "";
      background-color: #666666;
      mask-image: url("../../icons/double-triangle-arrow.svg");
      mask-size: 24px 18px;
      mask-repeat: no-repeat;
      mask-position: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      height: 18px;
      width: 24px;
    }

    &:hover {
      border-color: #008000;

      &::after {
        background-color: #008000;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .example__block {
    margin-right: 225px;
  }

  .main-container__example {
    padding: 0 110px;
    display: flex;
    background-image: linear-gradient(#ffffff 22.5%, #eaeaea 22.5% 77.5%);
  }

  .example__subtitle {
    width: 325px;
    margin-top: 0;
    margin-bottom: 146px;
    margin-left: 0;
  }

  .example__text {
    margin: 0;
    margin-bottom: 69px;
    width: 433px;
  }

  .example__relationship-block {
    display: flex;
    flex-direction: column;
  }

  .example__relationship {
    margin-left: 0;
    margin-bottom: 55px;
  }

  .relationship-text-left {
    width: 114px;
    min-height: 50px;
    position: absolute;
    top: 47px;
    left: 24px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .relationship-text-right {
    width: 142px;
    min-height: 27px;
    position: absolute;
    top: 58px;
    left: 214px;
    background-color: #eaeaea;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .relationship-subtitle-right {
    text-align: center;
    margin: 0;
    min-width: 102px;
    height: 37px;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    padding: 15px 30px 20px;
  }

  .example__expenses-subtitle {
    margin: 0;
    min-width: 330px;
    text-align: left;
  }

  .example__expenses-subtitle-text {
    margin-left: 63px;
  }

  .example__slider {
    width: 560px;
    height: 512px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #666666;
      border-radius: 2px;
      z-index: 1;
      height: 512px;
      width: 4px;
    }

    &:has(.example-button:hover)::before {
      background-color: #008000;
    }
  }

  .example__slider-image {
    overflow: hidden;
  }

  .example__image {
    position: relative;

    &--leftShift {
      right: 100%;
    }
  }

  .example__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid #666666;
    z-index: 2;

    &::after {
      content: "";
      background-color: #666666;
      mask-image: url("../../icons/double-triangle-arrow.svg");
      mask-size: 24px 18px;
      mask-repeat: no-repeat;
      mask-position: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      height: 18px;
      width: 24px;
    }

    &:hover {
      border-color: #008000;

      &::after {
        background-color: #008000;
      }
    }
  }
}
