.main-header {
  margin: 0;
  padding: 13px 21px 13px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;
    min-height: 50px;
    width: 708px;
    margin: 25px auto 0;
    border-bottom: none;
    display: flex;
    justify-content: start;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 55px auto 0;
    display: grid;
    grid-template-columns: 70px 14px 118px 1018;
    grid-template-rows: auto;
  }
}

.header-catalog {
  padding: 13px 21px 16px 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-header__link {
  display: flex;
  align-items: center;
}

.main-header__toggle--open {
  width: 24px;
  height: 24px;
  background-image: url("../../icons/wrapper.svg");
  border: none;
  background-color: #ffffff;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.toggleclose {
  display: none;
}

.main-header__toggle--close {
  width: 24px;
  height: 24px;
  background-image: url("../../icons/wrapper_close.svg");
  border: none;
  background-color: #ffffff;
  margin-left: 7px;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__picture-icon {
  width: 33px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 50px;
    margin-right: 13px;
  }
}

.main-header__picture-text {
  width: 101px;
  height: 18px;

  @media (min-width: $tablet-width) {
    margin-right: 94px;
  }
}

.logo-text {
  padding-left: 20%;
  padding-right: 65px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 16px 0;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1 / 3;
    display: block;
  }
}

.logo-icon {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1 / 1;
    display: block;
  }
}
