.preview__content {
  width: 320px;
  height: 302px;
  background-image: url("../../images/index_background_desktop_green@2x.jpg");
  background-color: #68b738;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: contain;
}

.preview__content__title {
  color: #ffffff;
}

.preview__content__text {
  color: #ffffff;
  text-transform: uppercase;
}
