.cooperation__subtitle {
  color: #000000;
}

.main-container__map-iframe {
  width: 100%;
  min-height: 362px;
  border: none;
  display: block;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }

  @media (min-width: $desktop-width) {
    z-index: -1;
    min-height: 400px;
  }
}
