.wrapper {
  list-style: none;
  padding: 0;
}

.wrapper__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  @media (min-width: $desktop-width) {
    color: #ffffff;

    .catalog-text {
      color: #111111;
    }
  }
}
