.wrapper {
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 18px 0 16px;
  }

  @media (min-width: $desktop-width) {
    margin: 14px 0 16px;
  }
}


@media (min-width: $desktop-width) {
  .wrapper-link--active {
    color: #000000;
  }
}

.wrapper__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.wrapper-link-catalog {
  @media (min-width: $desktop-width) {
    color: #000000;
  }
}
