.preview {
  min-height: 480px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.preview__content {
  min-width: 320px;
  min-height: 302px;
  background-image:
    image-set(
      url("../../images/hero-background-mobile@1x.png") 1x,
      url("../../images/hero-background-mobile@2x.png") 2x
    );
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 138px;

  @media (min-width: $tablet-width) {
    background-image: none;
    margin: 0;
    padding-bottom: 526px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 105px 0 266px 80px;
    min-height: 180px;
  }
}

.preview__title {
  color: #ffffff;
  margin: 0;
  padding: 27px 35px 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: #000000;
    padding: 65px 0 0 120px;
    width: 416px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 40px;
  }
}

.preview__text {
  display: flex;
  justify-content: center;
  padding: 0 42px 29px 40px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: #000000;
    display: inline-block;
    padding: 40px 0 0 120px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 52px;
  }
}


.preview__image {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 570px;
    padding: 0;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    top: 275px;
    left: 59.2%;
  }
}

.preview__button {
  text-transform: uppercase;
  color: #ffffff;
  background-color: $basic_green;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $basic_green;
  width: 280px;
  min-height: 40px;
  margin: 0 20px;
  position: absolute;
  top: 440px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }

  @media (min-width: $tablet-width) {
    width: 242px;
    min-height: 52px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: $basic_green;
    border: 1px solid $basic_green;
    margin: 47px 0 0 120px;
    position: static;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin: 0;
  }
}
