
.title-text {
  font-family: $second-font;
  font-size: 36px;
  line-height: 36px;
}

.title-text-small {
  font-family: $second-font;
  font-size: 14px;
  line-height: 14px;
}

.subtitle-text-normal {
  font-family: $second-font;
  font-size: 24px;
  line-height: 37px;
}

.subtitle-text-item {
  font-family: $second-font;
  font-size: 16px;
  line-height: 16px;
}

.subtitle-text-big {
  font-family: $second-font;
  font-size: 36px;
  line-height: 40px;
}

.secondary-subtitle-big {
  font-family: $second-font;
  font-size: 24px;
  line-height: 24px;
}

.secondary-subtitle-small {
  font-family: $second-font;
  font-size: 14px;
  line-height: 20px;
}

.secondary-subtitle-normal {
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
}

.subtitle-text-wrapper {
  font-family: $second-font;
  font-size: 20px;
  line-height: 20px;
}

.secondary-subtitle-basic {
  font-family: $second-font;
  font-size: 16px;
  line-height: 24px;
}

.input-text {
  font-family: $second-font;
  font-size: 20px;
  line-height: 30px;
}

.text-main-button {
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
}

.text-input-button {
  font-family: $second-font;
  font-size: 20px;
  line-height: 26px;
}

.text-secondary-button {
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
}

.explaining-text-basic {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
}

.explaining-text-normal {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 20px;
}

.explaining-text-big {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
}

.explaining-text {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
}

.explaining-text-small {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 12px;
}

.explaining-text-standard {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
}
