.promotions {
  position: relative;
}

.promotions__block {
  padding: 0 20px;
  margin-bottom: 40px;


  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 80px;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: #68b738;
      position: absolute;
      top: 14px;
      right: 0;
      left: 0;
      z-index: -2;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 100px;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: #68b738;
      position: absolute;
      top: 16px;
      right: 0;
      left: 0;
      z-index: -2;
    }
  }
}

.promotions__subtitle {
  color: #000000;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: inline-block;
    min-width: 202px;
    padding: 0 40px;
    font-size: 32px;
    line-height: 32px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin-left: -40px;
    padding: 0 40px;
  }
}

.promotions__subscribe {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0 38px;
    height: 56px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0 auto;
    height: 56px;
    width: 752px;
  }
}

.promotions__subscribe-button {
  color: #ffffff;
  text-transform: uppercase;
  background-color: $basic_green;
  border: 1px solid $basic_green;
  padding: 14px 81px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 256;
    height: 56;
  }
}

.promotions__text {
  margin: 0;
  padding: 34px 0 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 632px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 32px;
    padding: 64px 0 24px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding: 72px 0 24px;
  }
}

.promotions__subscribe-input {
  box-sizing: border-box;
  min-width: 280px;
  min-height: 56px;
  text-transform: uppercase;
  padding-left: 13px;
  margin-bottom: 16px;
}
