.show-more {
  padding: 25px 20px 24px;
  border-bottom: 1px solid #ebebeb;


  &::before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../../icons/show_more.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    justify-self: center;
    grid-row: 1 / 2;
    grid-column: 1 / 3;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
      margin: 50px 0 25px;
      background-image: url("../../icons/show_more_tablet.svg");
      justify-self: center;
    }

    @media (min-width: $desktop-width) {
      margin: 50px 0 41px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    min-height: 0;
    background-image: none;
    border: 2px solid #f2f2f2;
    padding: 0 35px 40px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-self: flex-end;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 169px;
    grid-template-rows: auto auto auto;
  }
}

.show-more__headline {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  margin: 52px 0 6px;
  justify-self: center;

  @media (min-width: $tablet-width) {
    grid-area: 2 / 1;
    width: 170px;
    margin: 0 0 53px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 89px;
  }
}

.show-more__headline-subtitle {
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 6px;
  text-align: center;

  @media (min-width: $tablet-width) {
    line-height: 24px;
    margin-bottom: 23px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
    margin-top: 0;
  }
}

.show-more__headline-text {
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.show-more__headline-button {
  color: $special_dark-grey;
  text-transform: uppercase;

  width: 280px;
  min-height: 40px;
  padding: 0;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  grid-row: 2 / 3;
  grid-column: 1 / 3;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    grid-area: 3 / 1;
    width: 250px;
    min-height: 40px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    min-height: 40px;
  }
}
